.Ds_Store
**/.Ds_Store
_Windows Version/irrKlang-64bit-1.5.0/*
_Windows Version/Debug/*
_Windows Version/tex/*
_Windows Version/*.lib
_Windows Version/*.dll
_Windows Version/*.sdf
_Windows Version/*.sln